<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="MainView.css">
    <title></title>
</head>
<body>

<!-- Contacts View -->
<div data-class="ContactsMainViewBase" class="contacts-ui">

    <!-- GROUPS PANEL -->
    <div data-property="listGroups" class="panel-groups">
        <div class="list-item" data-class="ListItem">All Contacts</div>
        <div class="list-item-header" data-class="ListItemHeader">iCloud</div>
        <div class="list-item">All iCloud</div>
        <div class="list-item">Don Mueble</div>
        <div class="list-item-header">Facebook</div>
        <div class="list-item">All Facebook</div>
        <div class="list-item-header">Smart Groups</div>
        <div class="list-item">Last Import</div>
    </div>

    <!-- NAMES LIST PANEL -->
    <div class="panel-list">
        <div class="search-box">
            <input data-property="txtSearch" type="text" placeholder="Search">
        </div>

        <div data-property="listPeople" class="list">
            <div class="no-items">No contacts found</div>
            <div class="list-item-header">A</div>
            <div class="list-item">Alchemist Joe</div>
            <div class="list-item selected">Alchemist Joe</div>
            <div class="list-item">Alchemist Joe</div>
            <div class="list-item">Alchemist Joe</div>
            <div class="list-item">Alchemist Joe</div>
            <div class="list-item">Alchemist Joe</div>
            <div class="list-item">Alchemist Joe</div>
            <div class="list-item">Alchemist Joe</div>
            <div class="list-item">Alchemist Joe</div>
            <div class="list-item">Alchemist Joe</div>
            <div class="list-item-header">B</div>
            <div class="list-item">Bradbury Jack</div>
            <div class="list-item">Bradbury Jack</div>
            <div class="list-item">Bradbury Jack</div>
            <div class="list-item">Bradbury Jack</div>
            <div class="list-item">Bradbury Jack</div>
            <div class="list-item">Bradbury Jack</div>
            <div class="list-item">Bradbury Jack</div>
            <div class="list-item">Bradbury Jack</div>
            <div class="list-item">Bradbury Jack</div>
            <div class="list-item">Bradbury Jack</div>
            <div class="list-item">Bradbury Jack</div>
            <div class="list-item">Bradbury Jack</div>
            <div class="list-item">Bradbury Jack</div>
            <div class="list-item-header">D</div>
            <div class="list-item">Doe John</div>
            <div class="list-item">Doe John</div>
            <div class="list-item">Doe John</div>
            <div class="list-item">Doe John</div>
            <div class="list-item">Doe John</div>
            <div class="list-item">Doe John</div>
            <div class="list-item">Doe John</div>
            <div class="list-item">Doe John</div>
            <div class="list-item">Doe John</div>
            <div class="list-item">Doe John</div>
            <div class="list-item">Doe John</div>
            <div class="list-item">Doe John</div>
            <div class="list-item">Doe John</div>
            <div class="list-item">Doe John</div>
            <div class="list-item">Doe John</div>
        </div>
    </div>

    <!-- CONTACT DETAIL PANEL -->
    <div data-property="panelDetail" class="panel-detail">
        <div data-property="detailHeader" class="header">
            <div class="picture-side">
                <div class="picture">
                    <div data-property="lblInitials">AJ</div>
                </div>
            </div>
            <div class="name-side">
                <div data-property="lblFullname" class="name">Alchemist Joe</div>
                <div data-property="lblDescription" class="description">Superworks, Inc.</div>
            </div>
        </div>
        <div data-property="detailRows" class="rows">
            <div class="data">
                <div class="name">phone</div>
                <div data-property="lblPhone" class="value">+(55) 123456789</div>
            </div>
            <div class="data">
                <div class="name">mobile</div>
                <div data-property="lblMobile" class="value">+(54) 123456789</div>
            </div>
            <div class="data">
                <div class="name">address</div>
                <div data-property="lblAddress" class="value">Elm Street 1090, TX, PA 9875</div>
            </div>
            <div class="data">
                <div class="name">note</div>
                <div data-property="lblNote" class="value">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus consequat molestie enim, vel viverra odio malesuada quis. Nulla gravida vulputate nulla, non egestas elit pretium et. </div>
            </div>
        </div>
        <div data-property="detailToolbar" class="toolbar">
            <div class="button btn-add">+</div>
            <div class="button btn-export">...</div>
            <div class="button btn-edit">Edit</div>
        </div>
    </div>
</div>
</body>
</html>