/* 
    Document   : RibbonView.css
    Created on : Aug 7, 2012, 5:39:53 PM
    Author     : josemanuel
    Description:
        Purpose of the stylesheet follows.
*/

/*.latte-view.ribbon .latte-item.ribbon{*/
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    /*right: 0;*/
/*}*/