.idea
.DS_Store

# Ignore files who are generated automagically
/latte/*/support/ts-include/*
/latte/*/support/records.php

# Ignore release data
/html/latte/releases/*

# Necessary for latte module
#!/latte/latte/support/ts-include/datalatte.d.ts

# Necessary for latte.ui module
#!/latte/latte.ui/support/ts-include/jquery.d.ts