.latte-view.explorer .load-bar{
    position: absolute;

    width: 100px;
    height: 2px;

    display: none;

    background-color: #4285F4;

}

.latte-view.explorer .load-bar.visible{
    display: block;
}