
/* Inset margin when content on bottom */
.latte-item.toolbar.tab > .face > .holder > .items-container > .latte-item.tab.flat-bottom{
    margin-bottom: -1px;
}

/* Inset margin when content on top */
.latte-item.toolbar.tab > .face > .holder > .items-container > .latte-item.tab.flat-top{
    margin-top: -1px;
}

/* Inset margin when content on left */
.latte-item.toolbar.tab > .face > .holder > .items-container > .latte-item.tab.flat-left{
    margin-left: -1px;
}

/* Inset margin when content on right */
.latte-item.toolbar.tab > .face > .holder > .items-container > .latte-item.tab.flat-right{
    margin-right: -1px;
}

.latte-item.toolbar.tab.content-at-bottom > .face > .holder > .items-container{
    padding-top: 3px;
    padding-left: 3px;
}

.latte-item.toolbar.tab.content-at-top > .face > .holder > .items-container{
    padding-bottom: 3px;
    padding-left: 3px;
}

.latte-item.toolbar.tab.horizontal > .face > .holder > .items-container > .latte-item:not(.value):not(.tab){
    padding: 9px;
}

/*  */
.latte-view.toolbar.tab > .latte-item.toolbar {
    background: #f0f0f0;
}

/* Borders for tab effect */
.latte-item.toolbar.tab.content-at-top      { border-top:       solid 1px #ccc; }
.latte-item.toolbar.tab.content-at-bottom   { border-bottom:    solid 1px #ccc; }
.latte-item.toolbar.tab.content-at-left     { border-left:      solid 1px #ccc; }
.latte-item.toolbar.tab.content-at-right    { border-right:     solid 1px #ccc; }