/* 
    Document   : TextView
    Created on : Sep 10, 2012, 12:41:28 PM
    Author     : josemanuel
    Description:
        Purpose of the stylesheet follows.
*/

.latte-view.text textarea{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: none;
    font-family: monospace;
    font-size: 10pt;
    min-height: 4em;
}

.latte-view.text textarea:active,
.latte-view.text textarea:focus
{
    outline: none;
}