
.contacts-ui{

    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 13px;
    -webkit-font-smoothing: antialiased;

    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.contacts-ui .list-item{
    cursor: pointer;
}

.contacts-ui .list-item:not(.selected):hover{
    background-color: rgba(0, 0, 0, 0.06);
}

.contacts-ui .list-item.selected{
    background-color: #2782F3;
    color: white;
}

.contacts-ui > .panel-groups{

    position: absolute;
    width: 20%;
    top: 0;
    left: 0;
    bottom: 0;

    background: #F6F6F6;
    border-right: solid 1px #E8E8E8;

}

.contacts-ui > .panel-list{
    position: absolute;
    width: 30%;
    top: 0;
    left: 20%;
    bottom: 0;

    border-right: solid 1px #E8E8E8;
}

.contacts-ui > .panel-detail{
    position: absolute;
    width: 50%;
    top: 0;
    right: 0;
    bottom: 0;
}

.contacts-ui > .panel-groups  .list-item{
    padding: 5px 0 5px 15px;
}

.contacts-ui > .panel-groups  .list-item-header{
    font-size: 11px;
    font-weight: bolder;
    color: gray;

    padding: 10px 0 5px 5px;
}

.contacts-ui > .panel-list > .search-box{

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 55px;

    padding: 20px 0 10px 15px;

}

.contacts-ui > .panel-list > .search-box input{
    width: 90%;
    border-radius: 5px;
    border: solid 1px silver;
    padding: 5px;
}

.contacts-ui > .panel-list > .list{
    position: absolute;
    top: 55px;
    left: 0;
    right: 0;
    bottom: 0;

    overflow: auto;
}

.contacts-ui > .panel-list > .list > .list-item-header{
    color: gray;
    padding-top: 10px;
    border-bottom: solid 1px #e8e8e8;
    margin-left: 10px;
}

.contacts-ui > .panel-list > .list .no-items{
    color: gray;
    font-size: 17px;
    padding: 60px 0;
    text-align: center;
}

.contacts-ui > .panel-list > .list > .list-item{
    padding: 5px 0 5px 25px;
}

.contacts-ui > .panel-detail > div > .header{
    position: absolute;

    top: 0;
    left: 0;
    right: 0;
    height: 100px;
}

.contacts-ui > .panel-detail  .header > .picture-side{
    float: left;
    padding-left: 60px;
    padding-top: 20px;
}

.contacts-ui > .panel-detail  .header > .picture-side > .picture{
    width: 66px;
    height: 66px;
    border-radius: 100%;
    background: #cacaca;
    color: white;
    font-size: 20px;
    text-align: center;
}

.contacts-ui > .panel-detail  .header > .picture-side > .picture > div{
    padding-top: 20px;
}

.contacts-ui > .panel-detail  .header > .name-side{
    padding-top: 20px;
    float: left;
    padding-left: 10px;
}

.contacts-ui > .panel-detail  .header > .name-side > .name-row:after{
    content: '.';
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

.contacts-ui > .panel-detail  .header > .name-side > .name-row > .name{
    font-size: 20px;
    float: left;
}

.contacts-ui > .panel-detail  .header > .name-side > .name-row > .last{
    font-size: 20px;
    float: left;
    margin-left: 10px;
}


.contacts-ui > .panel-detail  .rows{
    position: absolute;

    top: 100px;
    left: 0;
    right: 0;
    bottom: 45px;

    overflow: auto;
}

.contacts-ui > .panel-detail  .rows > .data{
    margin: 0 15px;
    border-top: solid 1px #e8e8e8;
    padding: 8px 10px 7px 0;
}

.contacts-ui > .panel-detail  .rows > .data:after{
    content: '.';
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

.contacts-ui > .panel-detail  .rows > .data > .name{
    width: 120px;
    float: left;
    text-align: right;
    color: gray;
}

.contacts-ui > .panel-detail  .rows > .data > .value{
    text-align: left;
    margin-left: 135px;
}

.contacts-ui > .panel-detail  .rows > .data > .name:not(:first-child){
    width: auto;
    padding-left: 10px;
}

.contacts-ui > .panel-detail > .toolbar{
    position: absolute;

    left: 0;
    right: 0;
    height: 45px;
    bottom: 0;

}

.contacts-ui > .panel-detail > .toolbar .button{
    border: solid 1px #e8e8e8;
    border-radius: 4px;
    height: 15px;
    margin: 10px;
    padding: 3px 15px;
    cursor: pointer;
}

.contacts-ui > .panel-detail > .toolbar .button.checked{
    background-color: #2782F3;
    color: white;
}

.contacts-ui > .panel-detail > .toolbar .button:not(.checked):hover{
    border-color: #2782F3;
    color: #2782F3;
}

.contacts-ui > .panel-detail > .toolbar .button.btn-add{
    float: left;
}

.contacts-ui > .panel-detail > .toolbar .button.btn-edit{
    float: right;
}

.contacts-ui > .panel-detail > .toolbar .button.btn-export{
    float: right;
}