/* 
    Document   : InputItem
    Created on : Aug 13, 2012, 11:57:01 AM
    Author     : josemanuel
    Description:
        Purpose of the stylesheet follows.
*/

.latte-item.input{
    display: block;
    float: none;
}

.latte-item.input.invalid{
    color: red;
}

.latte-item.input > .value > .read-only,
.latte-item.input > .value > .label-value{
    margin-top: 4px;
    color: #777;
}

.latte-item.input > .separator{
    display: none;
    clear: both;
    height: 15px;
    border-bottom: dotted 1px silver;
}

.latte-item.input > .separator.visible{
    display: block;
}

.latte-item.input > .text > .label{
    /*font-weight: bold;*/
}

/*
 * HORIZONTAL
 */
.latte-item.horizontal.input > .text{
    width: calc(30% - 10px);
    float: left;
    padding-top: 4px;
    padding-right: 10px;
    white-space: pre;
    text-align: right;
}

.latte-item.horizontal.input > .text > .label{
    float: right;
}

.latte-item.horizontal.input > .value{
    width: 70%;
    float: left;
}

.latte-item.input > .value > .input-hint.label{
    clear: both;
    opacity: 0.5;
    font-size: 80%;
}

.latte-item.input > .value > .input-hint.label .label-content{
    white-space: normal !important;
}

.latte-item.horizontal.input.no-text > .value{
    width: auto;  
    float: none;
}

/*
 * VERTICAL
 */
.latte-item.vertical.input > .text{
    float: none;
    clear: both;
    margin-bottom: 5px;
}

.latte-item.vertical.input > .value{
    float: none;
    clear: both;
}
