/* 
    Document   : ProgressItem
    Created on : Sep 24, 2012, 4:50:37 PM
    Author     : josemanuel
    Description:
        Purpose of the stylesheet follows.
*/

.latte-item.progress{
    padding: 3px;
    float: none;
}

.latte-item.progress > .container{
    border: solid 1px #b0b0b0;
    padding: 1px;
    border-radius: 4px;
}

.latte-item.progress > .container > .bar{
    border-radius: 4px;
    background-color: green;
    height: 5px;
}



